.formulario{
    display: flex;
    flex-direction:column;
    max-width: 450px;
    width: 350px;
    gap: 10px;
    background:white;
    padding: 40px 30px;
    min-height: 400px;
    justify-content: center;
    align-items:center;
    border-radius:20px;
}

.formulario h1{
    font-size: 1.5em;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
}

.formulario input, .formulario button{
   padding: 15px 50px;
   border-radius: 30px;
   border:none;

}

.formulario button{
    background-color: #1774ff;
    color: white;
    cursor: pointer;
    width:250px
}


.campo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formulario input{
    background-color: transparent;
    border: #334155 2px solid;
}

.formulario label {
  font-size: 14px;
  font-weight: 500;
  color: #1e293b;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.campo small {
  font-size: 12px;
  opacity: 0.4;
}

.erro {
  color: #ef4444;
  font-size: 14px;
  margin-top: 5px;
}

.exemplo {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 4px;
  text-align: center;
}