.formulario{
    display: flex;
    flex-direction:column;
    max-width: 450px;
    width: 350px;
    gap: 10px;
    background:white;
    padding: 40px 10px;
    min-height: 400px;
    justify-content: center;
    align-items:center;
    border-radius:20px;
}

.formulario h1{
    font-size: 1.5em;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
}

.formulario input, .formulario button{
   padding: 15px 40px;
   border-radius: 30px;
   border:none;

}

.formulario button{
    background-color: #1774ff;
    color: white;
    cursor: pointer;
    width:250px
}

.formulario label{
    text-align: left;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formulario input{
    background-color: transparent;
    border: #334155 2px solid;
}