.container-geral {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.container-secao {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.secao-header {
  font-size: 14px;
  font-weight: 600;
  color: #cbd5e1;
  margin-left: 4px;
}

@media(min-width:1250px){
  .container-geral{
    grid-template-columns: 1fr 1fr;
  }
}