
.container-dashboard{  
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center; 
  gap: 50px;
}

@media(min-width:1250px){
  .container-dashboard{
    flex-direction: row;
  }
}