*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(45deg, #0F172A, #1c2e5a);

    display: flex;
    align-items: center;
    justify-content: center;
}


.card{
    background-color: white;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.062);
    border-radius: 12px;
}


@media(min-width:1250px){
  body{
    height: 100vh;
  }
}